
        <!doctype html>
        <html>
            <body>
                <h1><a href="file://C:\git\svelte-output\components\empty_node">C:\git\svelte-output\components\empty_node</a></h1>

                <ul>
                    <li><a href="file:///C:/git/svelte-output/components">Components</a></li>
                    <li><a href="./Component.js">View compiled code</a></li>
                </ul>

                <hr />

                <div id="component"></div>

                <script type="text/javascript" src="./Component.js"></script>

                <script type="text/javascript">
                    new Component({
                        target: document.querySelector('#component'),
                    });
                </script>
            </body>
        </html>
    